/cprof.out
/cristian.py
/Daniel
/Game of life.rar
/Game-of-Life-master-0
/Game-of-Life-master-1
/GameOfLifeSim-master
/Juego_de_la_vida-master
/Lab1.pdf
/life.py
/life2.py
/the-game-of-life(bin)
/the-game-of-life(bin).zip
/vida.py